@mixin space-font {
  font-family: "Share Tech Mono", monospace;
  color: transparent;
  letter-spacing: 0.1em;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent 0px,
    transparent 0.2px,
    #00ff00 0.8px,
    #00ff00 2px
  );
  background-clip: text;
  background-blend-mode: multiply;
}
