/* 
 * Colors
 */
$background-color: var(--background-color, #0c9) !default;
$ui-color: var(--ui-color, #33f) !default;
$border-color: var(--border-color, #ddd);
$text-color: var(--text-color, #fff) !default;
$font-size: var(--font-size, 1em) !default;

/* 
 * Sizes
 */
$border-size: var(--border-size, 0.25em) !default;
